<form class="form-horizontal" role="form" ng-submit="submitForm()">

    <fieldset>
        <legend>Basic Information</legend>
        <div class="form-group">
            <label for="fullName" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
                <input type="text" id="fullName" name="fullName" class="form-control"
                       ng-model="employee.fullName" />
            </div>
        </div>

        <div class="form-group">
            <label for="notes" class="col-sm-3 control-label">Notes</label>
            <div class="col-sm-9">
                <textarea name="notes" id="notes" class="form-control" rows="5" cols="40"
                          ng-model="employee.notes"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="department" class="col-sm-3 control-label">Department</label>
            <div class="col-sm-9">
                <select name="department" id="department" class="form-control"
                        ng-model="employee.department"
                        ng-options="dept for dept in departments"></select>
            </div>
        </div>
    </fieldset>
    <br />

    <fieldset>
        <legend>Perks</legend>
        <div class="form-group">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-9">

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="perkCar"
                               ng-model="employee.perkCar" />Company Car
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="perkStock"
                               ng-model="employee.perkStock" />Stock Options
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="perkSixWeeks"
                               ng-model="employee.perkSixWeeks" />Six Weeks Vacation
                    </label>
                </div>
            </div>
        </div>
    </fieldset>
    <br />

    <fieldset>
        <legend>Payroll Type</legend>
        <div class="form-group">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-9">

                <div class="radio">
                    <label>
                        <input type="radio" name="payrollType" value="w2"
                               ng-model="employee.payrollType" /> W-2
                    </label><br />
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="payrollType" value="ten99"
                               ng-model="employee.payrollType" /> 1099
                    </label><br />
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="payrollType" value="none"
                               ng-model="employee.payrollType" /> None
                    </label><br />
                </div>
                <br />

            </div>
        </div>
    </fieldset>

    <div class="col-sm-offset-3 col-sm-9">
        <input type="submit" class="btn btn-primary" value="Submit"
               ng-click="submitForm()" />
    </div>

</form>